body {
  min-width: 640px;
  background: #f1f1f1;
  color: #333;
  font-size: 24px;
  height: auto;
  padding-bottom: 20px!important;
  font-family: '寰蒋闆呴粦';
  letter-spacing:2px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color:#006caf;
  text-decoration: none;
}

img{border:0;vertical-align:middle}
a img,img{-ms-interpolation-mode:bicubic}
.img-responsive{width:100%!important;max-width:100%!important;height: auto!important}
.hr{border-bottom:1px solid #ddd;display:block;padding:20px 0;}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.mb40{margin-bottom:40px!important;}

.container_1190 {
  margin-left: auto;
  margin-right: auto;
  width: 1190px;
}


.grid_640{float:left;width:1190px;margin:0;}
.w_app{width:1100px;margin:0 auto;}

.app_nav_bg{float:left;height:90px;width:100%;background:#006caf;}
.app_nav{height:90px;width:640px;margin:0 auto;color:#fff;}
.app_nav .back{float:left;width:170px;height:90px;line-height:88px;text-align:center;visibility:hidden;}
.app_nav .back a{display:block;color:#fff;border:1px solid #7b0000;width:150px;height:58px;line-height:56px;font-size:20px;letter-spacing:2px;text-align:center;background:#006caf;margin:15px 10px;border-radius:6px;}
.app_nav .nav_title{float:left;line-height:88px;width:300px;height:90px;text-align:center;font-size:30px;letter-spacing:2px;overflow:hidden;background:#006caf;}
.app_nav .share{float:left;display:none;line-height:88px;width:170px;height:90px;padding:0 10px;text-align:center;background:#ccc;}
.app_nav_bg_2{float:left;height:60px;width:100%;background:#fff;border-bottom:1px solid #ddd;}
.app_nav_2{height:60px;width:640px;margin:0 auto;color:#000;line-height:60px;}
.app_nav_2 .nav_2_left{float:left;width:33.3333%;text-align:center;padding-left:0px;}
.app_nav_2 .nav_2_center{float:left;width:33.3333%;text-align:center;}
.app_nav_2 .nav_2_right{float:left;width:33.3333%;text-align:center;padding-right:0px;}
.app_nav_2 a{color:#006caf;}

.app_nav_2 .hover a{display:block;background:#eee;height:60px;line-height:60px;}

.app_content{margin:40px 0;width:600px;height:auto;}
.app_logo{display:inline;float:left;width:140px;}
.app_logo img{width:140px;height:140px;}
.app_content_info{float:left;width:280px;height:auto;overflow:hidden;margin:0 10px;}
.app_title{font-size:32px;height:32px;color:#000;}
.app_production{font-size:24px;height:24px;margin-top:10px;color:#999;}
.app_ranks{height:22px;line-height:22px;margin-top:10px;}
.app_ranks img{height:22px;width:auto;}
.app_filesize{font-size:24px;height:24px;line-height:24px;margin-top:10px;color:#888;letter-spacing:0;}
.app_download{float:right;width:110px;height:140px;}
.app_download a{display:block;width:110px;height:54px;border:1px solid #ccc;letter-spacing:2px;line-height:50px;border-radius:50px;margin-top:110px;text-align:center;color:#fff;background:#006caf;}

.app_gallery_bg{float:left;margin:0;width:100%;height:470px;background:#dedede;}
.app_gallery_w{margin:0 auto;padding:20px 0;width:620px;height:470px;}
.app_gallery{}
.app_gallery img{width:auto;height:430px!important;}
.app_gallery .swiper-slide{float:left;padding:0 10px 0 0;width:auto;height:430px!important;}

.slider .swiper-container {
    width: 640px;
    height: 200px;
    margin:20px 0 40px 0;
    }
.slider .swiper-slide {
    width: 640px;
    height: 200px;
    background: #ccc;
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.newstext{margin:20px 0;}
.text_title{font-weight:500;font-size:28px;}
.app_softsay{font-size:24px;color:#888;margin:10px 0 20px 0;}
.app_softsay_2{font-size:24px;color:#888;margin:10px 0 20px 0;}

.app_info{margin:10px 0 20px 0;width:600px;}
.app_info_l{float:left;width:120px;height:145px;font-size:24px;color:#888;overflow:hidden}
.app_info_title{}
.app_info_r{float:left;width:480px;height:145px;font-size:24px;color:#333;overflow:hidden;letter-spacing:1px;}
.app_info_r .type{}
.app_info_r .date{}
.app_info_r .version{}
.app_info_r .production{}
.app_info_r .os_version{}


.app_type_section{margin:20px 0 0 0;padding-bottom:20px;border-bottom:1px solid #ddd;}
.type_icon{float:left;width:168px;margin:6px;}
.type_icon img{width:168px;height:168px;}


.app_list{margin-bottom:40px;}
.app_li{float:left;width:500px;height:140px;padding:20px 0; overflow:hidden;}
.app_li .app_logo{display:inline;float:left;width:140px;}
.app_li .app_logo img{width:130px;height:130px;margin:5px 10px 5px 0;}
.app_li .app_content_info{float:left;width:300px;height:100px;margin:20px 10px;overflow:hidden;}
.app_li .app_title{font-size:28px;height:28px;line-height:32px;color:#000;}
.app_li .app_type{font-size:22px;height:22px;line-height:20px;color:#999;margin-top:15px;letter-spacing:0;}
.app_li .app_ranks{font-size:22px;height:22px;line-height:20px;margin-top:11px;color:#999;overflow:hidden;word-break:keep-all;}
.app_li .app_ranks img{height:22px;width:auto;}
.app_li .app_download{float:right;width:120px;height:100px;position:relative;}
.app_li .app_download a{display:block;width:110px;height:54px;border:1px solid #ccc;letter-spacing:2px;line-height:50px;border-radius:50px;margin:0px;text-align:center;color:#fff;background:#006caf;position:absolute;top:-78px;}
.showpage{margin:20px 0;font-size:16px;letter-spacing:0;text-align:center;}

.app_list_title{font-size:32px;font-weight:bold;text-align:center;margin-bottom:5px;}
.app_list_ftitle{font-size:24px;text-align:center;color:#ccc;margin-bottom:10px;}

.app_li_fi{float:left;width:200px;margin:20px 0;}
.app_li_fi .app_logo{width:200px;margin:0 0 10px 0;}
.app_li_fi .app_logo img{width:170px;height:170px;margin:0 15px;}
.app_li_fi .app_content_info{width:180px;height:80px;margin:0 10px;overflow:hidden;}
.app_li_fi .app_title{font-size:28px;height:28px;line-height:32px;color:#000;text-align:center;}
.app_li_fi .app_type{font-size:22px;height:22px;color:#999;margin-top:10px;letter-spacing:0;text-align:center;}

.app_download_fi{width:200px;height:auto;margin:0 auto;}
.app_download_fi a{display:block;margin:0 auto;width:110px;height:54px;border:1px solid #ccc;letter-spacing:2px;line-height:50px;border-radius:50px;text-align:center;color:#fff;background:#006caf;}


.float_bottom{  
    float:left;height:100px;width:100%;background:#f5f5f5;position:fixed;bottom:0;z-index:9999;
}
.gift_content{float:left;width:100%;padding:17px 0;}
.gift_button{width:320px;height:auto;margin:0 auto;float:left;}
.download_button{width:320px;height:auto;margin:0 auto;float:left;}

.gift_button a{
    display:block;margin:0 auto;width:280px;height:64px;border:1px solid #006caf;letter-spacing:2px;line-height:64px;border-radius:50px;text-align:center;color:#006caf;background:#fff;
}
.download_button a{
    display:block;margin:0 auto;width:280px;height:64px;border:1px solid #ccc;letter-spacing:2px;line-height:64px;border-radius:50px;text-align:center;color:#fff;background:#006caf;
}







