* {
	margin: 0;
	padding: 0;
	list-style: none; 
}
body {
	font-family: "Microsoft YaHei",微软雅黑;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size:16px; 
}
.fl { float:left;}
.fr { float:right;}
.clearFix:after{ content:''; display:block; clear:both; }
.bg{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background:url(../img/bg.png) no-repeat;
	background-size:100%;
}
input{
	border: none; 
}
.pin{
	color: #ff3e53;
}
.box {
	width: 40rem;
	height: 40rem;
	background-color: #ff3e53;
	margin: 0 auto;
	margin-top: 38rem;
	padding: 20px;
	overflow: hidden;
	border-radius: 50%;
	position: relative;
}
.lottery {
	width: 40rem;
	height: 40rem;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	background-color: #330000;
	border-radius: 50%;
	box-shadow: 0 0 15px #000;
}
.block {
	box-shadow: 0 0 1px #000 inset;
	position: absolute;
	width: 20rem;
	height: 20rem;
	transform-origin: right bottom 0;
	-webkit-transform-origin: right bottom 0;
}
.add{
	cursor:pointer; 
}
.block:nth-child(odd) {
	background-color: #fff;
}
.block:nth-child(even) {
	background-color: #fff4b5;
}
.block:nth-child(1) {
	transform: rotate(0deg) skewY(45deg);
	-webkit-transform: rotate(0deg) skewY(45deg);
}
.block:nth-child(2) {
	transform: rotate(45deg) skewY(45deg);
	-webkit-transform: rotate(45deg) skewY(45deg);
}
.block:nth-child(3) {
	transform: rotate(90deg) skewY(45deg);
	-webkit-transform: rotate(90deg) skewY(45deg);
}
.block:nth-child(4) {
	transform: rotate(135deg) skewY(45deg);
	-webkit-transform: rotate(135deg) skewY(45deg);
}
.block:nth-child(5) {
	transform: rotate(180deg) skewY(45deg);
	-webkit-transform: rotate(180deg) skewY(45deg);
}
.block:nth-child(6) {
	transform: rotate(225deg) skewY(45deg);
	-webkit-transform: rotate(225deg) skewY(45deg);
}
.block:nth-child(7) {
	transform: rotate(270deg) skewY(45deg);
	-webkit-transform: rotate(270deg) skewY(45deg);
}
.block:nth-child(8) {
	transform: rotate(315deg) skewY(45deg);
	-webkit-transform: rotate(315deg) skewY(45deg);
}

.pointer {
	width: 5rem;
	height: 8rem;
	display: block;
	content: "";
	position: absolute;
	top: 11rem;
	left: 17.5rem;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	background:url(../img/pic_zhizhen.png) no-repeat;
	z-index: 2;
}
.btn {
	width: 12rem;
	height: 12rem;
	border-radius: 50%;
	background:url(../img/pic_choujiangpan.png) no-repeat;
	position: absolute;
	top: 15rem;
	left: 15rem;
	cursor: pointer;
	color: #fff;
	z-index: 3;
}
.start{
	background:url(../img/pic_qingke.png) no-repeat;
	width: 5rem;
	height: 5rem;
	position: absolute;
	left: 3.5rem;
	top: 3.5rem;
}
.content {
	width: 200px;
	height: 230px;
	transform-origin: center center 0;
	transform:  skewY(-45deg) rotate(-22.5deg) translate(10px, 70px);
	-webkit-transform:  skewY(-45deg) rotate(-22.5deg) translate(10px, 70px);
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: center;
}
.content .img {
	width: 100px;
	height: 100px;
	margin: 0 auto;
}
.content .img img{
	border-radius:50%;
}
.content .text {
	width: 100px;
	height: 50px;
	margin: 0 auto;
}
.content .none {
	width: 30px;
	height: 200px;
	margin: 0 auto;
	text-align: center;
	font-size: 23px;
	line-height: 200%;
	font-weight: bold;
}
.light-odd,
.light-even {
	width: 640px;
	height: 640px;
	position: absolute;
	left: 0;
	top: 0;
}
.light-odd div,
.light-even div {
	width: 10px;
	height: 10px;
	position: absolute;
	top: 310px;
	left: 310px;
	background-color: #FBCB1F;
	border-radius: 50%;
	transform-origin: right bottom 0;
}
.light-odd div:nth-child(1) {
	transform: rotate(0deg) translate(-305px,5px);
	-webkit-transform: rotate(0deg) translate(-305px,5px);
}
.light-odd div:nth-child(2) {
	transform: rotate(45deg) translate(-305px,5px);
	-webkit-transform: rotate(45deg) translate(-305px,5px);
}
.light-odd div:nth-child(3) {
	transform: rotate(90deg) translate(-305px,5px);
	-webkit-transform: rotate(90deg) translate(-305px,5px);
}
.light-odd div:nth-child(4) {
	transform: rotate(135deg) translate(-305px,5px);
	-webkit-transform: rotate(135deg) translate(-305px,5px);
}
.light-odd div:nth-child(5) {
	transform: rotate(180deg) translate(-305px,5px);
	-webkit-transform: rotate(180deg) translate(-305px,5px);
}
.light-odd div:nth-child(6) {
	transform: rotate(225deg) translate(-305px,5px);
	-webkit-transform: rotate(225deg) translate(-305px,5px);
}
.light-odd div:nth-child(7) {
	transform: rotate(270deg) translate(-305px,5px);
	-webkit-transform: rotate(270deg) translate(-305px,5px);
}
.light-odd div:nth-child(8) {
	transform: rotate(315deg) translate(-305px,5px);
	-webkit-transform: rotate(315deg) translate(-305px,5px);
}
/*
light-even
 */
.light-even div:nth-child(1) {
	transform: rotate(22.5deg) translate(-305px,5px);
	-webkit-transform: rotate(22.5deg) translate(-305px,5px);
}
.light-even div:nth-child(2) {
	transform: rotate(67.5deg) translate(-305px,5px);
	-webkit-transform: rotate(67.5deg) translate(-305px,5px);
}
.light-even div:nth-child(3) {
	transform: rotate(112.5deg) translate(-305px,5px);
	-webkit-transform: rotate(112.5deg) translate(-305px,5px);
}
.light-even div:nth-child(4) {
	transform: rotate(157.5deg) translate(-305px,5px);
	-webkit-transform: rotate(157.5deg) translate(-305px,5px);
}
.light-even div:nth-child(5) {
	transform: rotate(202.5deg) translate(-305px,5px);
	-webkit-transform: rotate(202.5deg) translate(-305px,5px);
}
.light-even div:nth-child(6) {
	transform: rotate(247.5deg) translate(-305px,5px);
	-webkit-transform: rotate(247.5deg) translate(-305px,5px);
}
.light-even div:nth-child(7) {
	transform: rotate(292.5deg) translate(-305px,5px);
	-webkit-transform: rotate(292.5deg) translate(-305px,5px);
}
.light-even div:nth-child(8) {
	transform: rotate(337.5deg) translate(-305px,5px);
	-webkit-transform: rotate(337.5deg) translate(-305px,5px);
}

.calcul{
	width:25rem;
	margin: 0 auto;
	margin-top: 5rem;
	color: #4e1a0e; 
	font-size: 2rem;
}
.calcul .num{
	padding: 0.5rem 1.9rem;
	text-align: center; 
	background-color:#fff; 
	border-radius: 4rem;
}
.calcul .already{
	margin-bottom: 1.5rem; 
}



.mask{
	background-color: #000;
	opacity: 0.5;
	position: absolute;
	z-index: 2; 
	width: 100%;
	height: 100%; 
	left: 0;
	top: 0;
	bottom: 0;
	right: 0; 
	display: none;
}
.pop{
	display: none;
	position: absolute;
	z-index: 3;
	left: 50%;
	top: 50%; 
	background-color: #fff; 
	padding: 2.6rem 5rem 6.8rem;
	border-radius: 1rem;
	margin-left: -24rem; 
	margin-top: -20rem; 
}
.pop .tit{
	font-size: 2.8rem;
	font-weight: normal;
	margin-bottom: 4rem; 
}
.pop .name{
	color:#999;
	font-size: 2rem;
	margin-bottom: 7rem; 
}
.pop .nameDe{
	height: 3.8rem;
	width: 24rem; 
	border-radius: 0.5rem;
	border: 1px solid #cdcdcd;
	text-indent: 1em;
	font-size: 1rem; 
}
.pList img{
	border-radius: 50%; 
	margin-right: 3.3rem; 
	margin-bottom: 6.6rem; 
}
.bBtn input{
	height: 3.6rem;
	width: 14rem; 
	line-height: 3.6rem;
	text-align: center;
	color: #fff;
	font-size: 2rem; 
	border-radius: 1rem; 

}
.bBtn .conform{
	background-color: #ff3e53;
	margin-right: 2rem; 
}