@charset "utf-8";
/* CSS Document */
body{
	font-family:"SimHei";
	background-color:#f4f4f4;
}
.fl{ float:left; }
.fr{ float:right;}
.clearFix:after{ content:''; display:block; clear:both; }
.color33{
	color: #333;
}
.color99{
	color: #999;
}
.colorPin{
	color:#e34052;
}
.colorBlue{
	color:#3e63d8;
}
.f12{
	font-size:12px;
}
.f14{
	font-size:14px;
}
.f16{
	font-size:16px;
}
/*字体*/
.glyphicon-hot{
	font-size:15px;
	background-color:#e34052;
	color:#fff; 
	padding:3px; 
	border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px; 
	padding-bottom: 5px;
}
.row{
	margin-right: -8px;
    margin-left: -8px;
}
.hotCon .col-lg-1,
.hotCon .col-lg-10, 
.hotCon .col-lg-11,
.hotCon .col-lg-12, 
.hotCon .col-lg-2,
.hotCon .col-lg-3, 
.hotCon .col-lg-4, 
.hotCon .col-lg-5, 
.hotCon .col-lg-6, 
.hotCon .col-lg-7, 
.hotCon .col-lg-8,
.hotCon .col-lg-9,
.hotCon .col-md-1,
.hotCon .col-md-10,
.hotCon .col-md-11,
.hotCon .col-md-12,
.hotCon .col-md-2, 
.hotCon .col-md-3, 
.hotCon .col-md-4, 
.hotCon .col-md-5,
.hotCon .col-md-6,
.hotCon .col-md-7,
.hotCon .col-md-8, 
.hotCon .col-md-9, 
.hotCon .col-sm-1,
.hotCon .col-sm-10,
.hotCon .col-sm-11,
.hotCon .col-sm-12, 
.hotCon .col-sm-2, 
.hotCon .col-sm-3,
.hotCon .col-sm-4, 
.hotCon .col-sm-5, 
.hotCon .col-sm-6,
.hotCon .col-sm-7, 
.hotCon .col-sm-8, 
.hotCon .col-sm-9, 
.hotCon .col-xs-10, 
.hotCon .col-xs-12, 
.hotCon .col-xs-2,
.hotCon .col-xs-3,
.hotCon .col-xs-4,
.hotCon .col-xs-5, 
.hotCon .col-xs-6, 
.hotCon .col-xs-7, 
.hotCon .col-xs-8, 
.hotCon .col-xs-9 {
    padding-right: 8px;
    padding-left: 8px;
}
/* 省略 */
.ellipsis{
	width: 99%;
	overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
}
/*搜索按钮*/
.searchBtn{
	color:#e34052;
	border-radius:20px;
	-webkit-border-radius:20px;
	-o-border-radius:20px;
	border-left:none;
}


/*img{border-radius:20px; -webkit-border-radius:20px; -o-border-radius:20px; }*/
.thumbnail{
	padding:0; 
	border-radius: 12px;
	border: none; 
}
/*登录注册*/
@media (min-width: 768px){
	.navbar-right {
		float: right!important;
		 margin-right:26px; 
	}
}

/*商标*/
.logo_head{
	background: url(../images/logo_head.png) no-repeat;
	width: 120px;
	height: 45px; 
	margin-right: 25px;
	margin-top:4px;
	margin-bottom:4px; 
}
.hdNavL>li>a{
	padding:17px 15px; 
}
@media(min-width:1450px){
	.container{
		width:1440px;
	} 
	.mainRight{
		width:22%; 
	}
	.hotItem .glyphicon-stats{
		right:10px; 
	}

}
/* 登录注册隐藏 */
@media (min-width: 768px){
	/* .navbar-right {
	    display: none;
	} */
	
}
@media (max-width: 767px){
	.thumbnail{
		padding: 0; 
	}
}
/*导航*/
.navbar-default .navbar-nav>.active>a{
	background-color:#3E63D8
;
	color:#fff;
}
.hdNavR>li>a{
	padding: 15px 6px;
}

/*轮播图*/
#carousel-example-captions{
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	position:relative;
}
.thumb-bar{
	width: 0;
    height: 2px;
    -webkit-transition: all ease-in 250ms;
    transition: all ease-in 250ms;
    background-color: #e34052;
    position: absolute;
    bottom: 0;
    left: 0;
}
.recommImg{
	position: relative;
	display: inline-block;
}

#carousel-example-captions:hover .thumb-bar {
    width: 100%;

}
.recomm .thumbnail:hover .thumb-bar{
	 width: 100%;
}
.carousel-indicators li.active{
	background-color:#e34052;
}
.searchN{
	border-radius:20px; 
	-webkit--border-radius:20px;
	-o-border-radius:20px; 
}
#btn_login{
	background-color:#e34052;
	border:none;
}
#btn_login:hover{
	background-color:#e86473;
}
.pasTip{
	color:#999;
	margin-left:20px;
}	
.quickLog{
	margin-left:20px;
}
	@media (min-width: 1200px){
		.loginBtn,.regBtn{
			padding:10px 80px; 
		}
		.regBtn{
			color:#7596E5;
		}
		.qqLog{
			padding:10px 66px;
		}
		.weChatLog{
			padding:10px 58px;
		}
	}
	/*我的关注*/
.infoB{
	color:#999;
}
.infoB p:first-child{
	color:#e34052;
}
.follow .foLi img,.follow .foLi div,.rank .foLi img,.rank .foLi div,.rich .foLi img,.rich .foLi div,.fans .foLi img,.fans .foLi div{
		margin:6px; 
	}
	.follow .foLi img,.follow .titH,.rank .foLi img,.rank .titH,.rich .foLi img,.rich .titH,.fans .foLi img,.fans .titH{
		margin-left:16px;
	}
	.follow .titD,.rank .titD,.rich .titD,.fans .titD{
		margin-right:16px;
	}
	.follow .foLi .spriteLev,.rank .foLi .spriteLev,.rich .foLi .spriteLev,.fans .foLi .spriteLev{
		margin-top:18px;
	}
	.follow img,.rank img,.rich img,.fans img{
		border-radius:50%;
	}
	.follow p,.rank p,.rich p,.fans p{
		color:#333;
	}
	.follow .name,.rank .name,.rich .name,.fans .name{
		font-size:14px;
	}
	.follow .ynLiv,.rank .ynLiv,.rich .ynLiv,.fans .ynLiv{
		font-size:12px;
		color:#999; 
	}
	.navbar-default{
		background-color:#fff; 
		border-color:#e34052;
		border-bottom-width:2px;
		font-size:18px;
	}
	.titD .colorPin{
		padding:4px;
	}
	.titD .colorPin:hover{
		background-color:#3e63d8;
		color:#fff;
		text-decoration:none;	
	}
	
	
	/*热门*/
	@media (min-width: 992px){
		/* .hotCon .col-md-3 {
			width: 23%;
		}
		.hotCon .col-md-9 {
			width: 77%;
		} */

	}
	.hotCon .thumbnail{
		padding:2px; 
		box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
	}
	.page-header{
		border:none; 
		padding-bottom:0;
	}
	.page-header .pull-left{
		margin-bottom:0; 
	}
	.firHot,.hotItem{
		position:relative; 
	}
	.firB,.hotB{
		height:23%; 
		position:absolute;
		left:0; 
		bottom:0;
		background:#fff; 
		width:100%; 
		padding-top: 5%;
		padding-left: 5%;
		font-size: 16px;
		color: #999;
		border-bottom-left-radius:12px; 
		border-bottom-right-radius:12px;
	}
			
	.shadow{
		-display: none;
		width: 100%;
		height: 100%;
		background-color: #000;
		position: absolute;
		left: 0;
		top: 0;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	    filter: alpha(opacity=0);
	    opacity: 0;
	    background-color: #000;
	    -webkit-transition: all ease-in 250ms;
	    transition: all ease-in 250ms;
	}
	.firHot:hover .shadow{
			-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    		filter: alpha(opacity=50);
    		opacity: 0.5;
	}

	.playBtn{
		position: absolute;
	    z-index: 10;
	    top: 50%;
	    left: 50%;
	    margin-left: -20px;
	    margin-top: -20px;
	    width: 40px;
	    height: 40px;
	    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	    filter: alpha(opacity=0);
	    opacity: 0;
	    background: url("http://i7.pdim.gs/bd7431bc663cd90b0a0b56b682f3bef9.png") no-repeat;
	    -webkit-transform: scale(2);
	    -ms-transform: scale(2);
	    transform: scale(2);
	    -webkit-transition: all ease-in 250ms;
	    transition: all ease-in 250ms;
	}
	.firHot:hover .playBtn{
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	    filter: alpha(opacity=100);
	    opacity: 1;
	    -webkit-transform: scale(1);
	    -ms-transform: scale(1);
	    transform: scale(1);
	}
	
	
	.firT,.hotT{
		background-color: #fff;
		position: absolute;
		width: 90%;
		height: 9%;
		top: 5%; 
		left: 5%;
		opacity: .8;
		filter:alpha(opacity:80);
		 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
		color: #333; 
		
	}
	.hotT{
		height: 14%;
		top: 4%;
		ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	    filter: alpha(opacity=0);
	    opacity: 0;
	    -webkit-transition: all ease-in 250ms;
	    transition: all ease-in 250ms;
	}

	.hotB{
		height: 34%;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	    filter: alpha(opacity=0);
	    opacity: 0;
	    -webkit-transition: all ease-in 250ms;
	    transition: all ease-in 250ms;
	}
	.hotItem{
		font-size: 12px; 
	}
	.hotItem:hover{
		-webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
	    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
	    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
	}
	.hotItem:hover .hotB{
			display: block;
			-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	    	filter: alpha(opacity=100);
	    	opacity: 1;
	}
	.hotItem:hover .hotT{
			display: block;
			-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	    	filter: alpha(opacity=100);
	    	opacity: 1;
	}

	.glyphicon-stats{
		position: absolute;
		right: 6%; 
		top: 5%; 
		color: #e34052; 
		z-index: 9;
	}
	
	
	/* 精彩推荐 */
	.glyphicon-fire{
		color: #fff;
		background-color:#e34052;;
		padding-left: 8px;
		padding-right: 8px; 
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-o-border-radius: 4px;
		margin-right: 8px; 
	}
	.recommR a:hover{
		border-bottom:2px solid #3e63d8;
		text-decoration: none; 
	}
	.hotR a:hover{
		border-bottom:2px solid #3e63d8;
		text-decoration: none; 
	}
	.recommB{
		padding-top: 8%; 
	}
	.recomm a.thumbnail{
		background-color: #f4f4f4;
	}
	.recomm a.thumbnail:hover {
		text-decoration: none;
		color: red; 
	}
	.recomm .thumbnail:hover *{
		color: #e34052;
	}
	.recomm .thumbnail.recommImg{
		margin-bottom: 0;
	}
	.recomm .thumbnail:hover .shadow{
			-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    		filter: alpha(opacity=50);
    		opacity: 0.5;
	}
	.recomm .thumbnail:hover .playBtn{
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	    filter: alpha(opacity=100);
	    opacity: 1;
	    -webkit-transform: scale(1);
	    -ms-transform: scale(1);
	    transform: scale(1);
	}

	
	
	
	
	
	
	/*底部*/
	.bs-docs-footer {
		padding-top: 40px;
		padding-bottom: 40px;
		margin-top: 100px;
		color: #767676;
		text-align: center;
		border-top: 1px solid #e5e5e5;
	}

